/* RALEWAY FONT */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format("woff");
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url(http://themes.googleusercontent.com/static/fonts/raleway/v7/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format("woff");
}

/*DROID SERIF FONT*/
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"), local("DroidSerif"), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/0AKsP294HTD-nvJgucYTaLrIa-7acMAeDBVuclsi6Gc.woff) format("woff");
}

@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/QQt14e8dY39u-eYBZmppwRbnBKKEOwRKgsHDreGcocg.woff) format("woff");
}

@font-face {
  font-family: 'Droid Serif';
  font-style: italic;
  font-weight: 400;
  src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url(http://themes.googleusercontent.com/static/fonts/droidserif/v4/cj2hUnSRBhwmSPr9kS5894o3ZslTYfJv0R05CazkwN8.woff) format("woff");
}

/* line 51, ../sass/_typography.scss */
body {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  font-size: 150%;
}

/* line 56, ../sass/_typography.scss */
#background {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
}
@media only screen and (max-width: 640px) {
  /* line 56, ../sass/_typography.scss */
  #background {
    font-size: 3rem;
    line-height: 4rem;
  }
}

/* line 66, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: black;
  line-height: 1.1;
  color: black;
}

/* line 73, ../sass/_typography.scss */
a {
  text-decoration: none;
  font-weight: 400;
  color: black;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 78, ../sass/_typography.scss */
a:hover {
  color: #D6EDFF;
}

/* General Rules */
/* line 6, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 9, ../sass/screen.scss */
body {
  margin: 0px;
  padding: 0px;
  position: static;
  height: 100%;
}

/* line 15, ../sass/screen.scss */
.cbp-spmenu-push {
  position: static;
}

/* line 19, ../sass/screen.scss */
.greet {
  font-size: 1.5em;
  font-weight: 300;
  margin: 5px;
  margin-left: 0px;
}

/* Background */
/* line 27, ../sass/screen.scss */
#background {
  /*
  background-image: url(../img/backgrounds/ticks.png);
  background-repeat: repeat;
  */
  background-color: #425C81;
  background-attachment: fixed;
  min-height: 100%;
}

/* General Rules for Sections */
/* line 39, ../sass/screen.scss */
section {
  min-height: 110vh;
  padding-top: 25px;
  text-align: center;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 150px;
}
@media only screen and (max-width: 640px) {
  /* line 39, ../sass/screen.scss */
  section {
    width: 100%;
    padding: 60px;
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 110vh;
  }
}
/* line 53, ../sass/screen.scss */
section .sectionTitle {
  margin-bottom: 30px;
  font-size: 6rem;
}
@media only screen and (max-width: 640px) {
  /* line 53, ../sass/screen.scss */
  section .sectionTitle {
    font-size: 8rem;
  }
}

/* Header Section */
/* line 64, ../sass/screen.scss */
#headerContainer {
  padding-left: 75px;
  padding-top: 25px;
  padding-right: 75px;
}

/* line 69, ../sass/screen.scss */
#head {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  clear: both;
  padding: 0px;
  background-color: #A9A9A9;
}
@media only screen and (max-width: 640px) {
  /* line 69, ../sass/screen.scss */
  #head {
    height: 90vh;
  }
}
/* line 82, ../sass/screen.scss */
#head .centered {
  width: 500px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  /* line 82, ../sass/screen.scss */
  #head .centered {
    width: 100%;
  }
}
/* line 95, ../sass/screen.scss */
#head .centered .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: #313131;
  font-size: 60px;
  margin-bottom: 25px;
  text-decoration: none;
  display: block;
  text-align: center;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
@media only screen and (max-width: 640px) {
  /* line 95, ../sass/screen.scss */
  #head .centered .logo {
    font-size: 80px;
  }
}
/* line 108, ../sass/screen.scss */
#head .centered .logo:hover {
  color: #000000;
}
/* line 112, ../sass/screen.scss */
#head .centered .bio {
  font-size: 1.75rem;
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 640px) {
  /* line 112, ../sass/screen.scss */
  #head .centered .bio {
    font-size: 2.5rem;
  }
}
/* line 121, ../sass/screen.scss */
#head .centered #nav {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  color: black;
  font-size: 2.5rem;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  /* line 121, ../sass/screen.scss */
  #head .centered #nav {
    font-size: 3rem;
  }
}
/* line 134, ../sass/screen.scss */
#head .centered #nav a {
  color: #414141;
  text-decoration: none;
  font-weight: 200;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 139, ../sass/screen.scss */
#head .centered #nav a:hover {
  text-decoration: none;
  color: #000000;
}

/* About Section */
/* line 150, ../sass/screen.scss */
#about {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #5EA032;
}
/* line 154, ../sass/screen.scss */
#about #aboutImage {
  opacity: 0.0;
}
/* line 160, ../sass/screen.scss */
#about #aboutImage .caption {
  font-style: italic;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
/* line 167, ../sass/screen.scss */
#about #aboutText {
  text-align: left;
  margin: auto;
  max-width: 900px;
}

/* Resume Section */
/* line 177, ../sass/screen.scss */
#resume {
  background-color: #D59859;
}
/* line 179, ../sass/screen.scss */
#resume .resumeSection {
  max-width: 600px;
  width: 70%;
  display: block;
  margin: auto;
  padding-bottom: 40px;
}
@media only screen and (max-width: 640px) {
  /* line 179, ../sass/screen.scss */
  #resume .resumeSection {
    width: 90%;
  }
}
/* line 189, ../sass/screen.scss */
#resume .resumeSection ul {
  text-align: left;
}
/* line 192, ../sass/screen.scss */
#resume .resumeSection .description {
  color: #535353;
  margin-left: 30px;
  margin-bottom: 10px;
  display: block;
}
@media only screen and (max-width: 640px) {
  /* line 192, ../sass/screen.scss */
  #resume .resumeSection .description {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 640px) {
  /* line 201, ../sass/screen.scss */
  #resume .resumeSection .section-head {
    font-size: 4rem;
  }
}
/* line 207, ../sass/screen.scss */
#resume .resumeSection.top {
  margin-top: 60px;
}

/* Project Section */
/* line 214, ../sass/screen.scss */
#projects {
  background-color: #923C97;
}
@media only screen and (max-width: 640px) {
  /* line 214, ../sass/screen.scss */
  #projects {
    z-index: 25;
  }
}
/* line 219, ../sass/screen.scss */
#projects .row {
  /*
  .projectPanel-left {
  	left: -1500px;
  }
  .projectPanel-right {
  	left: 1500px;
  	@include respond-to(mobile){
  		left: -1500px;
  	}
  }
  .projectPanel-left-center {
  	left: -1500px;
  }
  .projectPanel-right-center {
  	left: 1500px;
  	@include respond-to(mobile){
  		left: -1500px;
  	}
  }
  */
}
/* line 220, ../sass/screen.scss */
#projects .row .projectPanel {
  position: relative;
}
@media only screen and (max-width: 640px) {
  /* line 220, ../sass/screen.scss */
  #projects .row .projectPanel {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 25;
  }
}
/* line 228, ../sass/screen.scss */
#projects .row .projectPanel .thumbnail {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  overflow: none;
}
/* line 235, ../sass/screen.scss */
#projects .row .projectPanel .thumbnail .projectThumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 239, ../sass/screen.scss */
#projects .row .projectPanel .thumbnail .caption .buttonP {
  text-align: center;
}
/* line 241, ../sass/screen.scss */
#projects .row .projectPanel .thumbnail .caption .buttonP a {
  text-align: center;
}
@media only screen and (max-width: 640px) {
  /* line 241, ../sass/screen.scss */
  #projects .row .projectPanel .thumbnail .caption .buttonP a {
    width: 90%;
    margin: auto;
    font-size: 2rem;
  }
}

/* Blog Section */
/* line 276, ../sass/screen.scss */
#blog {
  padding-bottom: 125px;
  background-color: #FFF;
}
/* line 279, ../sass/screen.scss */
#blog #fillPosts {
  display: none;
}
/* line 282, ../sass/screen.scss */
#blog .blogPreview {
  max-width: 70%;
  display: block;
  margin: auto;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
@media only screen and (max-width: 640px) {
  /* line 282, ../sass/screen.scss */
  #blog .blogPreview {
    max-width: 100%;
  }
}
/* line 296, ../sass/screen.scss */
#blog .blogPreview .blogPreview-link:hover {
  text-decoration: none;
  color: black;
}
/* line 301, ../sass/screen.scss */
#blog .blogPreview .blogPreview-meta {
  display: block;
  clear: both;
  margin-bottom: 20px;
  line-height: 50px;
  width: 100%;
  vertical-align: bottom;
}
/* line 308, ../sass/screen.scss */
#blog .blogPreview .blogPreview-meta .blogPreview-title {
  display: inline-block;
  float: left;
  font-size: 40px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  width: 100%;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}
/* line 317, ../sass/screen.scss */
#blog .blogPreview .blogPreview-meta .blogPreview-title:hover {
  color: #0099CC;
}
/* line 320, ../sass/screen.scss */
#blog .blogPreview .blogPreview-meta .blogPreview-title .blogPreview-author {
  display: inline-block;
  float: right;
  position: relative;
  top: 15px;
  color: #777;
  height: 50px;
  line-height: 50px;
  font-size: 1.5rem;
  vertical-align: bottom;
}
/* line 333, ../sass/screen.scss */
#blog .blogPreview .blogPreview-post {
  display: block;
  width: 100%;
  text-align: left;
  margin-top: 5px;
  font-weight: 300;
}
/* line 339, ../sass/screen.scss */
#blog .blogPreview .blogPreview-post .blogPreview-continue {
  color: #555;
}
/* line 344, ../sass/screen.scss */
#blog .post-top {
  border-top: 1px solid black;
}
/* line 347, ../sass/screen.scss */
#blog #viewMore {
  display: block;
  margin: auto;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 300;
  opacity: 0.0;
  -webkit-transition: color 0.1;
  -moz-transition: color 0.1;
  -o-transition: color 0.1;
  transition: color 0.1;
}
@media only screen and (max-width: 640px) {
  /* line 347, ../sass/screen.scss */
  #blog #viewMore {
    font-size: 4rem;
  }
}
/* line 358, ../sass/screen.scss */
#blog #viewMore:hover {
  text-decoration: none;
  color: #0099CC;
}
/* line 363, ../sass/screen.scss */
#blog .sectionTitle + a:first-child {
  border-top: 1px solid black;
}

/* Contact Section */
/* line 369, ../sass/screen.scss */
#contact {
  min-height: 80px;
  padding-bottom: 0%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #313131;
  color: white;
}
/* line 376, ../sass/screen.scss */
#contact a {
  color: white;
}
/* line 379, ../sass/screen.scss */
#contact #contact-button {
  display: block;
  margin: auto;
  margin-top: 20px;
  max-width: 800px;
}
@media only screen and (max-width: 640px) {
  /* line 379, ../sass/screen.scss */
  #contact #contact-button {
    font-size: 4rem;
  }
}
/* line 388, ../sass/screen.scss */
#contact #contactText {
  display: block;
  margin: auto;
}

/* Fixed Navigation in corner */
/* line 396, ../sass/screen.scss */
#fixedNav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.0;
  margin-left: 15px;
  margin-top: 5px;
  font-family: "Raleway", sans-serif;
}
@media only screen and (max-width: 640px) {
  /* line 396, ../sass/screen.scss */
  #fixedNav {
    display: none;
  }
}
/* line 408, ../sass/screen.scss */
#fixedNav #fixedList {
  padding-left: 0px;
}
/* line 410, ../sass/screen.scss */
#fixedNav #fixedList li {
  margin-left: 5px;
  list-style-type: none;
}
/* line 414, ../sass/screen.scss */
#fixedNav #fixedList a {
  text-decoration: none;
}
/* line 416, ../sass/screen.scss */
#fixedNav #fixedList a:hover {
  color: black;
}
/* line 420, ../sass/screen.scss */
#fixedNav #fixedList i {
  margin-right: 5px;
  color: #313131;
}
/* line 423, ../sass/screen.scss */
#fixedNav #fixedList i:hover {
  color: black;
}
/* line 427, ../sass/screen.scss */
#fixedNav #fixedList span {
  display: none;
  color: black;
}

/* line 433, ../sass/screen.scss */
#mobileNav {
  display: none;
  opacity: 0.0;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  z-index: 1000;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
@media only screen and (max-width: 640px) {
  /* line 433, ../sass/screen.scss */
  #mobileNav {
    display: block;
  }
}
/* line 445, ../sass/screen.scss */
#mobileNav ul {
  background-color: #313131;
  margin-left: 0px;
  padding-left: 0px;
  opacity: 1.0;
}
/* line 450, ../sass/screen.scss */
#mobileNav ul li {
  list-style: none;
  text-align: center;
}
/* line 453, ../sass/screen.scss */
#mobileNav ul li a {
  color: white;
  display: block;
  opacity: 1.0;
}
/* line 457, ../sass/screen.scss */
#mobileNav ul li a:hover {
  color: #D6EDFF;
}
/* line 463, ../sass/screen.scss */
#mobileNav:hover {
  opacity: 1.0;
}

/* line 467, ../sass/screen.scss */
#toTop {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  opacity: 0.0;
}
@media only screen and (max-width: 640px) {
  /* line 467, ../sass/screen.scss */
  #toTop {
    display: none;
  }
}
/* line 485, ../sass/screen.scss */
#toTop a:hover {
  color: #313131;
  text-decoration: none;
}
/* line 490, ../sass/screen.scss */
#toTop i {
  display: inline;
  line-height: 40px;
  color: #313131;
  opacity: 0.5;
  font-size: 30px;
}
/* line 497, ../sass/screen.scss */
#toTop:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 502, ../sass/screen.scss */
#scrollDown {
  position: fixed;
  bottom: 10px;
  text-decoration: none;
  text-align: center;
  width: 80%;
  margin: 0 0 0 -40%;
  left: 50%;
  z-index: 3;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  opacity: 0.5;
}
@media only screen and (max-width: 640px) {
  /* line 502, ../sass/screen.scss */
  #scrollDown {
    display: none;
  }
}
/* line 517, ../sass/screen.scss */
#scrollDown a:hover {
  text-decoration: none;
}
/* line 521, ../sass/screen.scss */
#scrollDown i {
  display: inline;
  color: #313131;
  z-index: 3;
  -webkit-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  transition: opacity 0.1s;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}
/* line 530, ../sass/screen.scss */
#scrollDown:hover {
  opacity: 0.8;
}

/* line 535, ../sass/screen.scss */
#footerContainer {
  padding-bottom: 25px;
  padding-left: 75px;
  padding-right: 75px;
}

/*Footer Section*/
/* line 541, ../sass/screen.scss */
#footer {
  padding: 15px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 130px;
  background-color: #A9A9A9;
}
/* line 549, ../sass/screen.scss */
#footer #social {
  float: left;
  margin-left: 11%;
  top: -5px;
  display: block;
  height: 60px;
  clear: both;
  /* Hack to make all fit in line, b/c of Chrome's SVG shift */
}
/* line 1, ../sass/_socialButtons.scss */
#footer #social .socialIcons {
  background-image: url("../img/social.svg");
  width: 60px;
  height: 62px;
  display: inline-block;
  margin: 0px 5px;
}
/* line 8, ../sass/_socialButtons.scss */
#footer #social #Twitter {
  background-position: 0px 0px;
}
/* line 11, ../sass/_socialButtons.scss */
#footer #social #Twitter:hover {
  background-position: 0px -200px !important;
}
/* line 14, ../sass/_socialButtons.scss */
#footer #social #Linkedin {
  background-position: -316px -81px;
}
/* line 17, ../sass/_socialButtons.scss */
#footer #social #Linkedin:hover {
  background-position: -316px -279px !important;
}
/* line 20, ../sass/_socialButtons.scss */
#footer #social #Facebook {
  background-position: -79px 0px;
}
/* line 23, ../sass/_socialButtons.scss */
#footer #social #Facebook:hover {
  background-position: -79px -200px !important;
}
/* line 27, ../sass/_socialButtons.scss */
#footer #social #Github {
  background-position: -237px 0px;
}
/* line 30, ../sass/_socialButtons.scss */
#footer #social #Github:hover {
  background-position: -237px -200px !important;
}
/* line 34, ../sass/_socialButtons.scss */
#footer #social #GooglePlus {
  background-position: -158px -81px;
}
/* line 37, ../sass/_socialButtons.scss */
#footer #social #GooglePlus:hover {
  background-position: -158px -279px !important;
}
/* line 41, ../sass/_socialButtons.scss */
#footer #social #Blog {
  background-position: -79px -81px;
}
/* line 44, ../sass/_socialButtons.scss */
#footer #social #Blog:hover {
  background-position: -79px -279px !important;
}
/* line 48, ../sass/_socialButtons.scss */
#footer #social #Dropbox {
  background-position: -474px -81px;
}
/* line 51, ../sass/_socialButtons.scss */
#footer #social #Dropbox:hover {
  background-position: -474px -279px !important;
}
/* line 55, ../sass/_socialButtons.scss */
#footer #social #Medium {
  background-image: url(../img/medium-black.png);
  background-repeat: no-repeat;
}
/* line 59, ../sass/_socialButtons.scss */
#footer #social #Medium:hover {
  background-image: url(../img/medium-color.png);
  background-repeat: no-repeat;
}
/* line 64, ../sass/_socialButtons.scss */
#footer #social #Medium-chrome {
  background-image: url(../img/medium-black.png);
  background-repeat: no-repeat;
  top: -3px;
}
/* line 69, ../sass/_socialButtons.scss */
#footer #social #Medium-chrome:hover {
  background-image: url(../img/medium-color.png);
}
@media only screen and (max-width: 640px) {
  /* line 549, ../sass/screen.scss */
  #footer #social {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
}
/* line 564, ../sass/screen.scss */
#footer #footerText {
  margin-right: 11%;
  display: block;
  text-align: right;
}
@media only screen and (max-width: 640px) {
  /* line 564, ../sass/screen.scss */
  #footer #footerText {
    clear: both;
    margin-top: 2px;
    text-align: center;
    width: 100%;
  }
}
/* line 574, ../sass/screen.scss */
#footer #footerText .footerContent {
  display: inline;
  text-align: right;
}
@media only screen and (max-width: 640px) {
  /* line 574, ../sass/screen.scss */
  #footer #footerText .footerContent {
    clear: both;
    margin-top: 2px;
    text-align: center;
    width: 100%;
  }
}
